<html>
  <head><title>Python OpenID Consumer Example</title></head>
  <style type="text/css">
      * {
        font-family: verdana,sans-serif;
      }
      body {
        width: 50em;
        margin: 1em;
      }
      div {
        padding: .5em;
      }
      tr.odd td {
        background-color: #dddddd;
      }
      table.sreg {
        border: 1px solid black;
        border-collapse: collapse;
      }
      table.sreg th {
        border-bottom: 1px solid black;
      }
      table.sreg td, table.sreg th {
        padding: 0.5em;
        text-align: left;
      }
      table {
        margin: 0;
        padding: 0;
      }
      .alert {
        border: 1px solid #e7dc2b;
        background: #fff888;
      }
      .error {
        border: 1px solid #ff0000;
        background: #ffaaaa;
      }
      #verify-form {
        border: 1px solid #777777;
        background: #dddddd;
        margin-top: 1em;
        padding-bottom: 0em;
      }
  </style>
  <body>
    <h1>Python OpenID Consumer Example</h1>
    <p>
      This example consumer uses the <a href=
      "http://www.openidenabled.com/openid/libraries/python" >Python
      OpenID</a> library. It just verifies that the identifier that you enter
      is your identifier. This is version ported to the
      <a href="http://www.tornadoweb.org/">Tornado</a> web server.
    </p>
      {% try %}
        {% if error %}
          <div class="error">    
            {{ error }}
          </div>
        {% end %}
      {% except NameError, e %}
      {% end %}

      {% try %}
        {% if alert %}
          <div class="alert">
            {{ alert }}
          </div>
        {% end %}
      {% except NameError, e %}
      {% end %}

      {% try %}
      {% if use_sreg %}
	{% if sreg %}
          <h2>Registration Data</h2>
	  <table class="sreg">
	    <thead><tr><th>Field</th><th>Value</th></tr></thead>
	      <tbody>
		{{ odd = True }}
		{% for k in sreg %}
		  <tr{% if odd %} class=odd{% end %}>
		    <td>{{ k }}</td>
		    <td>{{ sreg[k] }}</td>
		  </tr>
		  {{ odd = not odd }}
		{% end %}
	      </tbody>
	    </table>
	{% else %}
	  <div class="alert">No registration data was returned</div>
	{% end %}
      {% end %}
      {% except NameError, e %}
      {% end %}

      {% try %}
      {% if use_pape %}
	  <div class="alert">Effective Auth Policies<ul>
	      {% for policy_uri in pape.auth_policies %}
	          <li><tt>{{ escape(policy_url) }}</tt></li>
	      {% end %}
	      {% if not pape.auth_policies %}
		  <li>No policies were applied.</li>
	      {% end %}
	  </ul></div>
      {% end %}
      {% except NameError, e %}
      {% end %}


    <div id="verify-form">
      <form method="get" accept-charset="UTF-8" action="/verify">
        Identifier:
        <input type="text" name="openid_identifier"
	       value="{{ openid }}"/>
        <input type="submit" value="Verify" /><br />
        <input type="checkbox" name="immediate" id="immediate" /><label for="immediate">Use immediate mode</label>
        <input type="checkbox" name="use_sreg" id="use_sreg" /><label for="use_sreg">Request registration data</label>
        <input type="checkbox" name="use_pape" id="use_pape" /><label for="use_pape">Request phishing-resistent auth policy (PAPE)</label>
        <input type="checkbox" name="use_stateless" id="use_stateless" /><label for="use_stateless">Use stateless mode</label>
      </form>
    </div>
  </body>
</html>
